<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineApteka.kz</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="nav-bar-wrapper">
        <div class="search-panel-wrapper">
            <input type="text" id="search-panel" placeholder="Начните поиск...">
            <div id="start-search">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="shopping-cart-wrapper" id="cart">
            <div class="cart-icon">
                <div class="items-count-circle" id="cart-counter">0</div>
                <i class="fas fa-shopping-cart"></i>
            </div>
            <p>Корзина</p>
        </div>
        <div class="categories-menu-wrapper">
            <p class="categories-header">Каталог</p>
            <div class="categories-container">
                <div class="category">
                    <i class="fas fa-list"></i>
                    <p class="category-header" cat_id="0">Все товары</p>
                </div>
                <div class="category">
                    <i class="fas fa-glasses"></i>
                    <p class="category-header" cat_id="1">Оптика</p>
                </div>
                <div class="category">
                    <i class="fas fa-prescription-bottle-alt"></i>
                    <p class="category-header" cat_id="2">Лекарственные средства</p>
                </div>
                <div class="category">
                    <i class="fas fa-baby-carriage"></i>
                    <p class="category-header" cat_id="3">Детское питание</p>
                </div>
                <div class="category">
                    <i class="fas fa-highlighter"></i>
                    <p class="category-header" cat_id="4">Косметика</p>
                </div>
                <div class="category">
                    <i class="fas fa-stethoscope"></i>
                    <p class="category-header" cat_id="5">Медицинские приборы</p>
                </div>
            </div>
        </div>

        <div class="categories-menu-wrapper sort">
            <p class="categories-header">Упорядочить</p>
            <div class="categories-container">
                <div class="sort_type">
                    <i class="fas fa-sort-alpha-down"></i>
                    <p class="category-header" sort_type="0">По названию</p>
                </div>

                <div class="sort_type">
                    <i class="fas fa-sort-numeric-down"></i>
                    <p class="category-header" sort_type="1">По цене</p>
                </div>
            </div>
        </div>

    </div>
    <div class="products-wrapper">
        <div class="products-wrapper-inner">
            <h2 class="current-category" id="prod-header">Все товары</h2>
            <div class="products-list" id="prod-list">
            </div>
        </div>
    </div>

    <div class="shopping-cart-overlay" id="overlay">
        <div class="shopping-cart">
            <div class="top-cart">
                <h2 class="current-category">Корзина</h2>
                <p id="close_x">X</p>
            </div>
            <div class="items" id="cartList">
            </div>
            <div class="cart-bottom">
                <p class="full-price" id="cart-full-price">Итого: 0</p>
                <button class="offer" id="offerBtn">Заказать</button>
            </div>
        </div>
    </div>

    <button onclick="getLocation()">Try It</button>

    <p id="demo"></p>

    <script>
        const x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML="Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }
    </script>

    <div class="footer">
        <h3 class="footer-header">© 2022, ТОО "OnlineApteka.kz"</h3>
    </div>

    <script  type="text/javascript" src="/js/script.js">
    </script>
</body>

</html>